@use "@/styles/utils/utils" as *;
@use "@/styles/variables/variables" as *;

.story-create-form {
  @include flex-container(column);
  gap: 1rem;
  overflow-y: auto;
  max-height: calc(100vh - ($header-heigth + $footer-heigth));
  padding: 4rem;
}

.frame {
  padding: 1rem;
}
