@use '../../styles/utils/mixin' as M;
@use '../../styles/variables/shadows' as S;
@use '../../styles/variables/colors' as C;

.login {
  @include M.flex-center(column);
  gap: 1rem;
}

.login-form {
  @include M.flex-center(column);
  gap: 1rem;
  width: 320px;
}

.recover-password-section,
.signup-section {
  @include M.flex-center(column);
  gap: 0.5rem;
}
