@use '@/styles/utils/utils' as *;
@use '@/styles/variables/variables' as *;

.login {
  @include flex-center(column);
  gap: 1rem;
}

.login-form {
  @include flex-center(column);
  gap: 1rem;
  width: 320px;
}

.recover-password-section,
.signup-section {
  @include flex-center(column);
  gap: 0.5rem;
}
