@use '@/styles/utils/utils' as *;
@use '@/styles/variables/variables' as *;

.error {
  @include flex-center(column);
  gap: 2rem;
  @include size(100%);
  padding: 2rem;

  .alert-icon {
    @include size(3rem);
    color: $orange-default-normal;
  }

  &__message {
    max-width: 512px;
    font-size: 1.1rem;
    color: $grey-default-normal;
  }
}
