@use '@/styles/utils/utils' as *;
@use '@/styles/variables/variables' as *;

.section-container {
  @include flex-container(column);
  padding: 6rem 12rem;
  gap: 3rem;

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
