@use '@/styles/utils/utils' as *;
@use '@/styles/variables/variables' as *;

.home-layout {
  display: grid;
  grid-template: 'header' 'main' 1fr 'footer';
  min-height: 100vh;
  max-width: 100vw;
  background-color: $white-default-normal;
}
