@use '@/styles/utils/utils' as *;
@use '@/styles/variables/variables' as *;

.btn {
  padding: 0.5rem 1rem;
  background: none;
  border: 1px solid $grey-default-lighter;
  box-shadow: $box-shadow-light;

  &:hover {
    box-shadow: $box-shadow-normal;
    cursor: pointer;
  }
}

.colored-btn {
  @extend .btn;
  background: $red-default-normal;
  color: $white-default-normal;
  border: none;

  &:hover {
    background: $red-default-lighter;
  }
}

.orange-btn {
  @extend .colored-btn;
  background-color: $orange-default-lighter;
  &:hover {
    background-color: $orange-default-normal;
  }
}

.red-btn {
  @extend .colored-btn;
  background-color: $red-default-light;
  &:hover {
    background-color: $red-default-normal;
  }
}

.green-btn {
  @extend .colored-btn;
  background-color: $green-default-dark;
  &:hover {
    background-color: $green-default-darker;
  }
}

.blue-btn {
  @extend .colored-btn;
  background-color: $blue-default-light;
  &:hover {
    background-color: $blue-default-normal;
  }
}
