@use '@/styles/utils/utils' as *;
@use '@/styles/variables/variables' as *;

.input {
  height: 100%;
  width: 100%;
  padding: 0.5rem 0.8rem;
  border: 1px solid $white-default-darker;
  box-shadow: $box-shadow-light;

  &:hover {
    box-shadow: $box-shadow-normal;
  }
  &:focus {
    border: 1px solid $grey-default-lighter;
    box-shadow: $box-shadow-normal;
  }
}
