@use '@/styles/utils/utils' as *;
@use '@/styles/variables/variables' as *;

.link {
  font-size: 1.1rem;
  color: $sea-green-dark;

  &:hover {
    color: $sea-green-darker;
    text-decoration: underline;
  }
}
