@use '@/styles/utils/utils' as *;
@use '@/styles/variables/variables' as *;

.field {
  @include flex-container(column, flex-start);
  @include size(100%);
  gap: 0.5rem;

  label {
    font-weight: bold;
    padding: 0.5rem 0;
  }
}

.input-container {
  @include flex-center;
}

.error-msg {
  font-size: 0.9rem;
  padding: 0.4rem 0.2rem;
  color: $red-default-light;
}
