@use '../../styles/utils/mixin' as M;
@use '../../styles/variables/colors' as C;

.field {
  @include M.flex-container(column, flex-start);
  @include M.size(100%);
  gap: 0.5rem;

  label {
    font-weight: bold;
    padding: 0.5rem 0;
  }
}

.input-container {
  @include M.flex-center;
}

.error-msg {
  font-size: 0.9rem;
  padding: 0.4rem 0.2rem;
  color: C.$red-default-light;
}
