@use "./colors" as c;

$text-shadow-light: 1px 1px 2px c.$black-opaque-light;
$text-shadow-normal: 1px 1px 3px c.$black-opaque-light;
$text-shadow-bold: 1px 1px 3px c.$black-opaque-normal;

$box-shadow-light: 1px 1px 2px c.$black-opaque-light;
$box-shadow-normal: 1px 1px 3px c.$black-opaque-light;
$box-shadow-bold: 1px 1px 3px c.$black-opaque-normal;
$box-shadow-bolder: 1px 1px 3px c.$black-opaque-dark;

$drop-shadow-light: 1px 1px 1px c.$black-opaque-light;
$drop-shadow-normal: 1px 1px 1px c.$black-opaque-normal;
$drop-shadow-bold: 1px 1px 1px c.$black-opaque-dark;
