@use "@/styles/utils/utils" as *;
@use "@/styles/variables/variables" as *;

.like-btn {
  svg {
    @include size(1.2rem);
  }

  button:hover {
    svg {
      color: $red-default-normal;
    }
  }

  &--liked {
    svg {
      color: $red-default-normal;
    }
  }
}
