@use '@/styles/utils/utils' as *;
@use '@/styles/variables/variables' as *;

.like-btn {
  @include flex-center;
  background: none;
  cursor: pointer;

  &:hover {
    color: $red-default-normal;
  }

  svg {
    @include size(1.2rem);
  }

  &--liked {
    color: $red-default-normal;
  }
}
