@use '../../styles/utils/mixin' as m;
@use '../../styles/variables/colors' as c;

.like-btn {
  @include m.flex-center;
  background: none;
  cursor: pointer;

  &:hover {
    color: c.$red-default-normal;
  }

  svg {
    @include m.size(1.2rem);
  }

  &--liked {
    color: c.$red-default-normal;
  }
}
